doctype html
html
	include head
	body
		include navbar
		
		.wrapper
			.header
			.container-fluid
				if posts.length == 0
					.row.top7
						.col.col-md-5.col-md-offset-3
							.panel
								.panel-body
									.text-center Fotos dos seus seguidores aparecerão aqui
				else
					each post in posts
						.row.top7
							.col.col-xs-12.col-sm-10.col-sm-offset-1
								.panel
									.panel-heading
										a(href="/u/#{post.dono.nome}")
											| #{post.dono.nome}
									.panel-body
										| #{post.descricao}

										.row.top5
											.col.col-xs-12.col-sm-7.col-md-5
												a(href="/p/#{post._id}")
													img.img-responsive.center-block(src="img/post/#{post.imagem}", ondblclick=onclick='curtir("#{post._id}")')
											.col.col-xs-12.col-sm-5.col-md-7.top15
												if post.isCurte
													- var liked='btnLikeCurtido'
												else
													- var liked=''
												.row
													div.areaComentarios(id="comentarios#{post._id}")
														each comentario in post.comentario
															.col-xs-12
																| #{comentario.dono.nome}: #{comentario.descricao}
												.row.top15
													.col-sm-2
														i.fa.fa-heart.fa-2.pointer.btnLike(id="btnLike#{post._id}", class="#{liked}", aria-hidden="true", onclick='curtir("#{post._id}")')

														span.qCurtiu(id="qCurtiu#{post._id}") #{post.curtiu.length}
													.col-sm-10
														form(id="formComentar#{post._id}", post-target="#{post._id}", action="#")
															input.form-control(id="msgComentar#{post._id}", placeholder="Comentar", autocomplete="off")
				include uploadFile